 /**
 * @name Megumin
 * @author mimilisa#6144
 * @description Explosion!!
 * @version 1
 */

 .appMount-31Hmkl {
	background-image: url(https://images5.alphacoders.com/690/thumb-1920-690622.jpg);
	
} 


/* close button from settings */
.theme-dark .closeButton-1tv5uR {
    border: 2px solid #aa6bce;
}

.theme-dark .closeButton-1tv5uR:hover {
    background-color: rgba(107, 130, 206, 0.37);
}
/* .. */

.lookOutlined-3sRXeN.colorBrand-3pXr91 {
    color: white;
    border-color: rgba(107, 130, 206, 0.66) !important;
}


::placeholder, body, button, input, select, textarea {
	font-family: cursive;
	text-rendering: optimizeLegibility;
}



/*popouts */
.userPopout-3XzG_A {
	background: transparent;
	box-shadow: none;
	border-radius: 25px;
	background-size: cover;
	background: url(https://mfiles.alphacoders.com/638/thumb-1920-638401.png) 70%/cover;
	
}

.theme-dark .body-3iLsc4,
.theme-dark .bodyInner-245q0L,
.theme-dark .footer-1fjuF6 {
    background-color: transparent;
    color: white;
}


.popout-2iWAc- {
    box-shadow: none;
}

.headerPlaying-j0WQBV{
    background: rgba(98, 148, 240, 0.158);
}

.topSectionPlaying-1J5E4n {
    background: rgba(0, 0, 0, 0.411);
}

.actionButton-3W1xZa.button-38aScr.lookInverted-2D7oAl.colorBrand-3pXr91.sizeSmall-2cSMqn.grow-q77ONN {
	background-color: #dd913ac2;
	border: 1px;
	border-style: solid;
	border-color: yellow;
}
.contents-18-Yxp {
	color: white;
}
.note-QfFU8y {
	background-color:#ecb06c31;
}
.textarea-2r0oV8.inputDefault-_djjkz.input-cIJ7To.scrollbarGhostHairline-1mSOM1.scrollbar-3dvm_9 {
	color:white;
}

.headerSpotify-zpWxgT,
.headerXbox-3G-4PF {
    background: rgba(115, 240, 146, 0.144);
}
.topSectionXbox-3fWLjS,
.topSectionSpotify-1lI0-P {
    background: rgba(115, 240, 146, 0.144);
}

.headerStreaming-2FjmGz {
    background: rgba(65, 20, 113, 0.253);
}

.topSectionStreaming-1Tpf5X {
    background: rgba(65, 20, 113, 0.253);
}
.theme-dark .headerNormal-T_seeN {
    background-color: rgba(211, 128, 61, 0.123);
}

.topSectionNormal-2-vo2m {
    background-color: rgba(32, 31, 29, 0.61);
}

.body-3ND3kc {
	background-color:rgba(32, 31, 29, 0.61);
}

 

.root-SR8cQa,
.uploadArea-3QgLtW {
	border-radius: 12px;
    background: url(https://images2.alphacoders.com/793/thumb-1920-793427.png) 10%/cover;
	box-shadow:none;
}



body {
	background-size: cover;
	background-color: transparent;
	background-image: url(https://images5.alphacoders.com/690/thumb-1920-690622.jpg);
	box-shadow:none;

	
}

.theme-dark {
	--header-primary:white;
	--header-secondary: white;
	--text-normal: #ffffff;
	--text-muted: #72767d;
	--text-link: #d45df8d0;
	--channels-default:  #bfc0c2;
	--interactive-normal:  #fdfdfc;
	--interactive-hover: white;
	--interactive-active: white;
	--interactive-muted: #4f545c;

	--background-primary: #1f14093b;
	--background-secondary: #38241123;
	--background-tertiary: #1f140917;
	--background-secondary-alt: #1f140923;
	
	--background-accent:#fcfcfc;
	--background-floating: rgba(0, 0, 0, 0.349);

	--background-mobile-primary: transparent;
	--background-mobile-secondary: transparent;

	
	--background-modifier-hover: #ff880033;
	--background-modifier-selected: #ff88004b;
	--background-modifier-active: transparent;
	--background-modifier-accent: hsla(0,0%,100%,0.06);
	
	--background-mentioned: rgba(189, 116, 47, 0.212);
	--background-mentioned-hover: rgba(250,166,26,0.08);
	--background-message-mentioned:#d45df8d0;


	--scrollbar-thin-thumb:  #d45df8d0;
	--scrollbar-thin-track: transparent;
	--scrollbar-auto-thumb: #d45df8d0;
	--scrollbar-auto-track: #fc9a3f10;
	--scrollbar-auto-scrollbar-color-thumb: #202225;
	--scrollbar-auto-scrollbar-color-track: #2f3136;
	
	--elevation-stroke: 0 0 0 1px rgba(238, 255, 0, 0.377);
	--elevation-low: 0 1px 0 rgba(236, 222, 32, 0.178),0 1.5px 0 rgba(6,6,7,0.05),0 2px 0 rgba(4,4,5,0.05);

	--radio-group-dot-foreground: #d45df8d0;

	--channeltextarea-background: transparent;
	--textbox-markdown-syntax: white;

	--focus-primary: white;

    --activity-card-background: transparent;
	--deprecated-quickswitcher-input-background: #075df3;

}
.searchBar-3dMhjb {
		color: white;
		background-color: rgba(0, 0, 0, 0.30);
	}

.theme-dark .container-3ayLPN {
		background-color: transparent;
		border-radius: 10px;
	}
	
.theme-dark .tooltipBlack-PPG47z {
		background: linear-gradient(1deg, #9900ff5d 0%, #ff6004e8 47%, #9900ff5d 100%);
		border-radius: 12px;
	}


/*discord icon */
.childWrapper-anI2G9{
	background: url(https://avatarfiles.alphacoders.com/951/thumb-1920-95100.png) 10%/cover;
}
.homeIcon-tEMBK1 {
	display: none;
}

.item-2hkk8m{
	background: linear-gradient(100deg, #cb87f85d 20%, #ffe604e8 100%,#cb87f85d 0%);
}

.circleIconButton-jET_ig:hover {
	background:  #ff88004b
}


.guildSeparator-3s64Iy {
	background: rgba(255, 255, 0, 0.438);
}

.searchBar-6Kv8R2 {
	background: #1f140923;
}


.title-3qD0b-.container-1r6BKw.themed-ANHk51 {
	background-color: transparent;
}
 
.icon-22AiRD{
	color: white;
}

.peopleListItem-2nzedh:hover {
	border-style: solid;
	border-color: rgba(255, 255, 0, 0.815);
}


.theme-dark .root-1BQpZw,
.scroller-5bBood,
.gameLibrary-TTDw4Y,
.scroller-1IIF0A,
.theme-dark .container-1D34oG,
.theme-dark .peopleList-3c4jOR,
.applicationStore-1pNvnv,
.scroller-9moviB {
    background-color: transparent;
}

.channel-2QD9_O.container-2Pjhx-.clickable-1JJAn8:hover,
.channel-2QD9_O.container-2Pjhx-.selected-aXhQR6{
	border: 1px;
	border-style: solid;
	border-color: rgba(255, 255, 0, 0.849);

}


.button-1YfofB.buttonColor-7qQbGO.button-38aScr.lookFilled-1Gx00P.colorBrand-3pXr91.sizeSmall-2cSMqn.grow-q77ONN.button-1YfofB {
	background-color: rgba(228, 147, 56, 0.753);
}

.item-PXvHYJ.selected-3s45Ha.themed-OHr7kt,
.item-PXvHYJ.themed-OHr7kt:hover {
	border: 1px;
	border-style: solid;
	border-color: rgba(255, 255, 0, 0.849);
}

/*upload area*/
.item-1tOPte.labelContainer-1BLJti.colorDefault-2K3EoJ:hover{
	background-color: #ff88004b;
}

.item-1tOPte.labelContainer-1BLJti.colorDefault-2K3EoJ {
	background-color: transparent
}



.theme-dark .uploadModal-2ifh8j .inner-3nWsbo .file-34mY5K .icon-kyxXVr.image-2yrs5j {
    background-color: rgba(0, 140, 153, 0.4);
    border: 3px solid black;
    border-radius: 10%;
    box-shadow: 5px 9px 8px rgba(0, 0, 0, 0.42),5px 4px 8px rgba(0, 0, 0, 0.42),0 0 18px rgba(0, 0, 0, 0.7);
}

.theme-dark .uploadModal-2ifh8j {
    background-image: linear-gradient(45deg,rgba(0, 0, 0, 0.646) 0%, rgba(0, 0, 0, 0.646) 100%), url(https://images2.alphacoders.com/793/thumb-1920-793427.png);
    background-size: cover;
    border-radius: 5px;
}

.root-1gCeng.small-3iVZYw.fullscreenOnMobile-1bD22y{
	background-color: rgba(34, 31, 1, 0.418);
	border-style: solid;
	border-color: rgba(128, 255, 0, 0.651);
	border-width: 0.5px;
}

.theme-dark .message-2qRu38,
.flex-1xMQg5.flex-1O1GKY.horizontalReverse-2eTKWD.horizontalReverse-3tRjY7.flex-1O1GKY.directionRowReverse-m8IjIq.justifyStart-2NDFzi.alignStretch-DpGPf3.noWrap-3jynv6.footer-2gL1pp{
	background-color: black;
	border-style: solid;
	border-color: rgba(128, 255, 0, 0.651);
	border-width: 0.5px;
}